.column.advantage.padding-vertical60.padding-left20.padding-right40
  .title
    GitLab helps you deliver better software faster
  .description
    Streamline collaboration, shrink cycle time, and improve quality
  .row
    .column.item
      = image_tag "/images/devops-tools/gitlab-pipeline.svg"
      .title
        Collaborate across teams
      .description-left
        .li -  Efficiently manage changes
        .li - Streamline code reviews
        .li - Work remotely, but connected
    .column.item
      = image_tag "/images/devops-tools/gitlab-rocket.svg"
      .title
        Launch faster
      .description-left
        .li - Automate testing and validation
        .li - Quickly manage branches and merges
        .li - Manage projects of any size
    .column.item
      = image_tag "/images/devops-tools/security-icon.svg"
      .title
        Secure and compliant
      .description-left
        .li - Simplify audits and compliance
        .li - End to end traceability
        .li - Manage access and protect code
        .li - Scan and find vulnerabilities
