---
title: "How To Stay Productive In Your Home Office"
author: Brandon Lyon
author_gitlab: brandon_lyon
author_twitter: brandon_m_lyon
categories: unfiltered
image_title: '/images/blogimages/blog-bl-desk.jpg'
description: "GitLab Developer Brandon Lyon shares his tips on setting up home offices for remote work."
tags: remote work
twitter_text: "A developer at @GitLab shares his tips on setting up home offices and staying productive."
---

{::options parse_block_html="true" /}

<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>&nbsp;&nbsp;
This blog post is [Unfiltered](/handbook/marketing/blog/unfiltered/#legal-disclaimer)
&nbsp;&nbsp;<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>
{: .alert .alert-webcast}

Remote work requires a special blend of detached discipline and solo mental fortitude in order to stay productive. Keep your focus and stay sharp with these tips. Make your dream a reality. Create your own schedule and cut out the commute.

## Improve your environment

> Focused work requires a focused space.

Working from your dining table or couch with a laptop doesn’t  always work well. You’ll want to choose a room which can be closed off from the rest of the house. Keep it presentable for remote conferencing or surprise video chats. Make sure there’s adequate room for you and your supplies and don’t skimp on equipment.

One great thing about working from home is that you can choose your own furniture. Don’t be afraid to invest in some quality pieces. You’ll be spending most of your time there, so be sure that it’s comfortable and functional. In addition to the obvious desk and chair, **every office should have a whiteboard, a cork board, sticky notes, and a bookcase.** Display some knick-knacks and cool gadgets just as you would in a corporate office, but keep the clutter to a minimum.

## Obtain reliable tools

> Make sure everything in your dedicated work space is reliable.

Buy a battery backup. Ensure the room has plenty of outlets and chargers (you can never have too many). Get a good webcam with a noise-cancelling microphone for video chats and conference calls. Keep a local and offsite backup of computer files. Keep important documents in a fireproof and flood resistant safe. These are all things you should be doing anyway, but it’s important to take extra care when working from home.

Network quality can have a huge impact on remote work. Buy a high-quality router. [Get decent cables](https://www.howtogeek.com/210326/not-all-ethernet-cables-are-equal-you-can-get-faster-lan-speeds-by-upgrading/) to go with that new router (old kinked or frayed cables can impact connection quality). [Optimize your wifi](https://broadbandnow.com/guides/optimize-wifi-network-faster-speeds). Take some time to implement [quality of service](https://www.pcworld.com/article/2689995/quality-of-service-explained-how-routers-with-strong-qos-make-better-home-networks.html) (QoS) rules in your router and prioritize your work computer over the rest of the household. Chances are your ISP’s DNS settings aren’t great either, so I suggest using a service like [1.1.1.1](https://1.1.1.1/dns/). Get at least one reliable and fast internet service provider. You should consider getting a second ISP as a redundant failover or to keep your work internet separate from your home internet.

## Stay focused

> Do whatever you can to protect yourself from distractions.

Keep your cellphone on silent/vibrate, just like you would in a normal office environment. Family and friends are not lounging around at a regular office interrupting people, and you should communicate that you have similar expectations for your home office. Don’t keep any distracting personal media on your work computer since TV, movies, and video games can be tempting. Use the internet from your home office in the same way you would use it from a regular office. Don’t get distracted by memes or Facebook.

## Separate work and home

> Clear boundaries are essential.

It can be difficult even under normal circumstances to separate work from your home life. When working from a home office it’s even more challenging. There are small changes you can make to help manage that separation.

When you’re in work mode you might use a *desktop* computer from a *standing* desk with the *curtains closed* while using *headphones*. When you’re not working, you could use a *tablet* from a *sitting* desk with the *curtains open* while using *speakers*. You can do a similar thing with software, using *different browsers* for work and personal tasks to maintain separation. Little things like this will go a long way in keeping you productive during work hours.

## Stay sane

> Do something outside before “going to“ work or “coming home“.

Being in the same place too long can contribute to cabin fever. Try doing something extra like exercising or visiting a cafe. Don’t forget to take breaks while working, your eyes and your back will thank you.

It’s easy to lose track of time when you’re working alone, so *set alarms for the start and end of your workday.* After the day is over make sure to step outside for a while. Take a walk or go out to dinner to decompress and change the scenery. Being at home on weekdays makes it even more important to leave the house on weekends, so make time to head to the park, to the beach, or check out a pub in the neighboring town.

## Just another day at the office

While working from home provides some additional freedoms that a traditional office does not, I recommend treating it much like a regular office. It takes a good toolset, professional environment, and discipline to stay productive and produce good work, whether or not you have a supervisor looking over your shoulder.
