---
layout: default
title: GitLab for Enterprise
description: "Accelerate software delivery with a complete DevOps platform"
canonical_path: "/enterprise/"
// image_title: '/images/opengraph/all-remote.jpg'
// twitter_creator: "@gitlab"
// twitter_site: "@gitlab"
// twitter_image_alt: "All About GitLab's remote work culture"
// twitter_image: "/images/opengraph/all-remote.jpg"
extra_css:
  - enterprise.css
---

%script{src: "https://unpkg.com/aos@2.3.1/dist/aos.js"}
%link{:rel => "stylesheet", :href => "https://unpkg.com/aos@2.3.1/dist/aos.css"}

:javascript
  AOS.init();

.enterprise-page
  %section.hero
    .container{"data-aos" => "fade-up", "data-aos-duration" => "1000", "data-aos-once" => "true"}
      .row
        .col.col-md-12
          .hero__content
            .caption GitLab for Enterprise
            %h1 Accelerate software delivery with a complete DevOps platform
            %a.hero__btn.cta-btn{:href => "/free-trial/"} Start free trial

  %section.values
    .container
      .row
        .col-md-4
          .value-block{"data-aos" => "fade-up", "data-aos-duration" => "500", "data-aos-once" => "true"}
            .value-block__image
              = image_tag "/images/enterprise/icon_speed-color.svg"
              %h4 Deliver better products faster
              %p Accelerate the software delivery process to meet business objectives.
        .col-md-4
          .value-block{"data-aos" => "fade-up", "data-aos-duration" => "1000", "data-aos-once" => "true"}
            .value-block__image
              = image_tag "/images/enterprise/icon_continuous-delivery-color.svg"
              %h4 Increase operational efficiency
              %p Simplify your software development toolchain to reduce total cost of ownership.
        .col-md-4
          .value-block{"data-aos" => "fade-up", "data-aos-duration" => "1500", "data-aos-once" => "true"}
            .value-block__image
              = image_tag "/images/enterprise/icon_safety-color.svg"
              %h4 Reduce security and compliance risk
              %p Automate security and compliance workflows to create an adaptable process for your development and security teams.
    .row
      .col-md-12.text-center
        %a.value__btn.cta-btn{:href => "/sales/"} Contact sales

  %section.trust
    .container
      .row
        .col-md-12.text-center
          %h2.trust__heading
            Trusted by enterprises,
            %span loved by developers
      .row
        .col-md-12
          .logo-band
            .logo.logo--1{"data-aos" => "zoom-in", "data-aos-duration" => "200", "data-aos-once" => "true"}
              = image_tag "/images/enterprise/logo-dish.svg"
            .logo.logo--2{"data-aos" => "zoom-in", "data-aos-duration" => "400", "data-aos-once" => "true"}
              = image_tag "/images/enterprise/logo-expedia.svg"
            .logo.logo--3{"data-aos" => "zoom-in", "data-aos-duration" => "600", "data-aos-once" => "true"}
              = image_tag "/images/enterprise/logo-goldman-sachs.svg"
            .logo.logo--4{"data-aos" => "zoom-in", "data-aos-duration" => "800", "data-aos-once" => "true"}
              = image_tag "/images/enterprise/logo-nasdaq.svg"
            .logo.logo--5{"data-aos" => "zoom-in", "data-aos-duration" => "1000", "data-aos-once" => "true"}
              = image_tag "/images/enterprise/logo-uber.svg"
            .logo.logo--6{"data-aos" => "zoom-in", "data-aos-duration" => "1200", "data-aos-once" => "true"}
              = image_tag "/images/enterprise/logo-verizon.svg"

  %section.product
    .container
      .row
        .col-md-12.product__intro
          %h2 About GitLab for Enterprise
      .row.display-flex
        .col-md-4{"data-aos" => "zoom-in-up", "data-aos-duration" => "500", "data-aos-once" => "true"}
          .product-card
            .product-card__image
              = image_tag "/images/enterprise/source-code.jpg"
              .product-card__content
                %h3.product-card__title Source Code Management
                %p.product-card__blurb Deliver better software faster with our enterprise-ready version control and collaboration. Coordinate work, track and review changes, and manage delivery all in one interface.
                %ul.product-card__list
                  %li Fast branching  integrated CI/CD
                  %li Custom project templates  automated workflows
                  %li High availability  LDAP integration

        .col-md-4{"data-aos" => "zoom-in-up", "data-aos-duration" => "1000", "data-aos-once" => "true"}
          .product-card
            .product-card__image
              = image_tag "/images/enterprise/ci-cd.jpg"
              .product-card__content
                %h3.product-card__title Continuous Integration and Delivery
                %p.product-card__blurb Build high quality applications at scale with GitLab CI/CD. Accelerate your digital transformation journey, break down departmental silos, and streamline efficiency.
                %ul.product-card__list
                  %li Pipeline configuration as code
                  %li Built-in application security testing
                  %li Auto-scaling CI/CD job runners

        .col-md-4{"data-aos" => "zoom-in-up", "data-aos-duration" => "1500", "data-aos-once" => "true"}
          .product-card
            .product-card__image
              = image_tag "/images/enterprise/agile2.jpg"
              .product-card__content
                %h3.product-card__title Agile Project Management
                %p.product-card__blurb Gain visibility across your organization to deliver on time and on budget. Enable cross-functional collaboration and keep stakeholders connected with kanban boards, roadmaps, and traceability.
                %ul.product-card__list
                  %li Link issues with code changes
                  %li Manage sprints  backlogs
                  %li Connect strategy to execution

  %section.cta
    .container
      .row
        .col-md-12
          .cta__content
            %h2{"data-aos" => "fade-up", "data-aos-duration" => "500", "data-aos-once" => "true"} Start your free trial today!
            %h3{"data-aos" => "fade-up", "data-aos-duration" => "900", "data-aos-once" => "true"} Get the complete software development lifecycle in a single application.
            %a.cta__btn.cta-btn{"data-aos" => "fade-up", "data-aos-duration" => "1100", "data-aos-once" => "true", :href => "/free-trial/"} Get started
